<ion-header>
  <ion-toolbar>
    <ion-title>&nbsp;</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="text-align: center; margin-top: 25px; margin-bottom: 20px;">
    <img (click) = "openTrangChu()" src="../../assets/icon/TTHLogo.png" style="width: 20%!important;">
  </div>
  <div>
    <ion-slides pager="true" [options]="slideOpts">
      <ion-slide style="width: 100%!important; max-width: 100%!important; height: 250px;">
        <table style="width: 100%!important; max-width: 100%!important;">
          <tr style="height: 50px!important;">
            <td style="height: 50px!important; vertical-align: top; font-weight: bold; color: #0764ae;">
              TTH GROUP
            </td>
          </tr>
          <tr style="height: 200px!important;">
            <td style="height: 200px!important; vertical-align: bottom; font-size: 16px;
            padding: 20px; text-align: justify; padding-bottom: 35px!important;">
              Được thành lập từ năm 2002, trải qua chặng đường gần 20 năm xây dựng và phát triển, TTH Group đã không
              ngừng lớn mạnh và trở thành một tập đoàn Y tế với một chuỗi các bệnh viện thành viên hoạt động tại khu vực
              Miền Trung và miền Nam Việt Nam.
            </td>
          </tr>
        </table>
      </ion-slide>
      <ion-slide style="width: 100%!important; max-width: 100%!important; height: 250px;">
        <table style="width: 100%!important; max-width: 100%!important;">
          <tr style="height: 50px!important;">
            <td style="height: 50px!important; vertical-align: top; font-weight: bold; color: #0764ae;">
              TTH VINH
            </td>
          </tr>
          <tr style="height: 200px!important;">
            <td style="height: 200px!important; vertical-align: bottom; font-size: 16px;
            padding: 20px; text-align: justify; padding-bottom: 35px!important;">
              Tiền thân của Bệnh viện Đa Khoa TTH Vinh là bệnh viện Nguyễn Minh Hồng. Được thành lập từ năm 2009 bởi Cố
              bác sỹ – Đại biểu Quốc hội Nguyễn Minh Hồng. Tháng 7 năm 2018, trong kế hoạch nâng cao cơ sở vật chất,
              Bệnh viện đã được đầu tư xây dựng mới và đổi tên thành BỆNH VIỆN ĐA KHOA TTH VINH. Là Bệnh viện thành viên
              của tập đoàn TTH GROUP với một khu nhà 4 tầng 2 khu nhà 2, tổng diện tích hơn 6000 m2.
            </td>
          </tr>
        </table>
      </ion-slide>
      <ion-slide style="width: 100%!important; max-width: 100%!important; height: 250px;">
        <table style="width: 100%!important; max-width: 100%!important;">
          <tr style="height: 50px!important;">
            <td style="height: 50px!important; vertical-align: top; font-weight: bold; color: #0764ae;">
              TTH HÀ TĨNH
            </td>
          </tr>
          <tr style="height: 200px!important;">
            <td style="height: 200px!important; vertical-align: bottom; font-size: 16px;
            padding: 20px; text-align: justify; padding-bottom: 35px!important;">
              Được thành lập từ năm 2002, trải qua chặng đường gần 20 năm xây dựng và phát triển, TTH Group đã không
              ngừng lớn mạnh và trở thành một tập đoàn Y tế với một chuỗi các bệnh viện thành viên hoạt động tại khu vực
              Miền Trung và miền Nam Việt Nam.
            </td>
          </tr>
        </table>
      </ion-slide>
      <ion-slide style="width: 100%!important; max-width: 100%!important; height: 250px;">
        <table style="width: 100%!important; max-width: 100%!important;">
          <tr style="height: 50px!important;">
            <td style="height: 50px!important; vertical-align: top; font-weight: bold; color: #0764ae;">
              TTH THÁI THƯỢNG HOÀNG
            </td>
          </tr>
          <tr style="height: 200px!important;">
            <td style="height: 200px!important; vertical-align: bottom; font-size: 16px;
            padding: 20px; text-align: justify; padding-bottom: 35px!important;">

              Sự ra đời của Công ty cổ phần TTH Group và Bệnh viện Răng hàm mặt và Phẩu thuật tạo hình thẩm mỹ (RHM &
              PTTHTM) gắn liền với sự phát triển trong lĩnh vực bảo vệ, chăm sóc sức khỏe nhân dân của ngành y tế Nghệ
              An
            </td>
          </tr>
        </table>
      </ion-slide>
    </ion-slides>
  </div>

</ion-content>

<ion-footer>
  <ion-toolbar style="--background:#fff;--border-width:0px!important;">

    <div style="margin-bottom: 50px;">
      <table style="width: 100%!important; margin-top: 10px;">
        <tr>
          <td style="text-align: center; padding-left: 70px; padding-right: 70px;">
            <div (click) = "openLogin()" style="width: 100%; background-color: #0764ae; color: #fff; padding: 10px; border-radius: 3px;">
              Đăng nhập
            </div>
          </td>
        </tr>
      </table>

      <table style="width: 100%!important; margin-top: 10px;">
        <tr>
          <td style="text-align: center; padding-left: 70px; padding-right: 70px;">
            <div (click) = "openDangKy()" style="width: 100%; background-color: #d5dbe0; color: #000; padding: 10px; border-radius: 3px;">
              Đăng ký
            </div>
          </td>
        </tr>
      </table>
    </div>

    <table style="width: 100%!important; margin-top: 10px; margin-bottom: 10px;">
      <tr>
        <td style="width: 50%!important; text-align: right; padding-right: 10px; font-size: 15px; color: #0764ae;">
          Tiếng Việt
        </td>
        <td style="width: 50%!important; text-align: left; padding-left: 10px; font-size: 15px; color: #6a6e72;">
          English
        </td>
      </tr>
    </table>
  </ion-toolbar>
</ion-footer>