.bill {
    // background: #F1F3F4;

    &-header {
        padding: 10px 0 10px 10px;
        font-weight: 600;
        font-size: 16px;
        display: flex;
        align-items: center;
        background: #F1F3F4;
        border-bottom: 4px solid white;
        &-right {
            margin-left: auto;
        }

        ion-icon {
            font-size: 24px;
            margin-right: 8px;
        }
    }

    &-item {
        padding: 10px;
        display: flex;
        align-items: center;

        &-right {
            margin-left: auto;
        }
    }

    &-content {
        padding: 10px;
        border-bottom: 1px dashed var(--gray-light3);

        &-header {
            display: flex;
            // align-items: center;
            margin-bottom: 10px;

            div {
                font-weight: 600;
            }
        }

        ion-icon {
            font-size: 22px;
            color: red;
            margin-left: auto;
        }
    }

    &-select {
        display: flex;
        align-items: center;

        &-form {
            position: relative;
            width: 100% !important;

            div {

                // width: 100% !important;
                // border: 1px solid white;
                border: 1px solid #afafaf;
                // text-align: center;
                background: #F5F5F5;
                // text-align: center;
                // background: #caeeff;
                border-radius: 5px;
                padding: 6px 10px;
            }

            ion-icon {
                position: absolute;
                top: 8px;
                right: 2px;
                color: gray;
                font-size: 20px;
            }
        }
    }

    &-table {
        padding: 0 10px;

        tr {
            border-bottom: 1px dashed var(--gray-light3);
        }

        td {
            padding: 10px 0;

        }

        ion-icon {
            float: right;
            color: var(--primary-color);
            font-size: 18px;
            width: 30px;
        }

        &-content {
            ion-icon {
                font-size: 24px;
                color: var(--primary-color);
            }
        }

        &-left {
            font-weight: 500;
            width: 150px;
        }
    }
        

    &-footer {
        padding: 6px;

        button {
            color: white;
            background: var(--background-color);
            width: calc(100% - 60px);
            padding: 12px;
            font-size: 16px;
            font-weight: 600;
            border-radius: 5px;
            margin-left: auto;

        }
    }

    &-btn {
        &-left {
            display: flex;
            align-items: center;
        }

        &-relative {
            position: absolute;
            width: 50px;
            height: 40px;
            background: #616161;
            /* height: 100%; */
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 5px;
            color: white;

            ion-icon {
                font-size: 18px;
            }

            div {
                border-radius: 100vw;
                position: absolute;
                top: -4px;
                right: -7px;
                width: 20px;
                height: 20px;
                background: var(--background-color);
                display: flex;
                align-items: center;
                justify-content: center;
                border: 1px solid white;
                font-size: 10px;
            }
        }
    }
        
}

table {
    width: 100%;
    table-layout: fixed;
}

td {
    padding-bottom: 10px;

    // span {
    //     color: gray;
    // }

    i {
        font-size: 18px;
    }
}

.pr-20 {
    padding-right: 20px;
}

.pr-44 {
    padding-right: 44px !important;
}

.pr-15 {
    padding-right: 15px !important;
}

.pb-0 {
    padding-bottom: 0 !important;
}

input[type="text"],
input[type="number"],
input[type="date"] {
    // width: 100px;
    // border: 1px solid white;
    // border-bottom: 1px solid var(--primary-color);
    // text-align: center;
    width: 100%;
    border: 1px solid #afafaf;
    // text-align: center;
    text-align: right;
    background: #F5F5F5;
    border-radius: 5px;
    padding: 6px 10px;
}


.input-disable {
    color: black !important;
    display: inline-block;
    text-align: right;
    width: 100%;
    border: 1px solid #b5b5b5;
    background: #e7e7e7;
    border-radius: 5px;
    padding: 6px 10px;
    min-height: 30px;
}

.input-no-border {
    text-align: right !important;
    border: none !important;
    padding: 6px 0px !important; 
}

ion-toggle {
    height: 26px;
    --handle-width: calc(28px - (2px * 2));
    --ion-color-base: var(--primary-color) !important;
}

ion-footer {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    // border-top: 1px solid #d9d5d5;
}

p {
    margin-top: 0 !important;
    margin-bottom: 10px !important;
    font-weight: 600;
}


input[type="checkbox"] {
    zoom: 1.3;
}


// .bill {

//     &-header {
//         background: #e9e9e9;
//         padding: 10px;
//         display: flex;
//         gap: 8px;
//         font-weight: 600;
//         border-bottom: 1px solid var(--background-color);
//         color: var(--background-color);

//         &-p13 {
//             padding: 10px;
//         }

//         &-left {
//             display: flex;
//             align-items: center;
//             gap: 5px;

//             ion-icon {
//                 font-size: 16px;
//             }
//         }
//     }

//     &-item {
//         padding: 10px;
//         border-bottom: 1px solid #d7d7d7;

//         &-title {
//             display: flex;
//             align-items: center;
//             margin-bottom: 12px !important;

//             p {
//                 font-size: 16px;
//                 font-weight: 600;
//                 color: var(--primary-color);
//             }

//             ion-icon {
//                 margin-left: auto;
//                 font-size: 20px;
//                 color: #dd0000;
//             }
//         }
//     }

//     &-table {
//         padding: 0 10px;

//         tr {
//             border-top: 1px solid #d7d7d7;
//         }

//         td {
//             padding: 10px 0;

//         }

//         ion-icon {
//             float: right;
//             color: var(--primary-color);
//             font-size: 18px;
//             width: 30px;
//         }

//         &-content {
//             ion-icon {
//                 font-size: 24px;
//                 color: var(--primary-color);
//             }
//         }

//         &-left {
//             font-weight: 500;
//             width: 150px;
//         }
//     }

//     &-footer {
//         padding: 6px;

//         button {
//             color: white;
//             background: var(--background-color);
//             width: calc(100% - 60px);
//             padding: 12px;
//             font-size: 16px;
//             font-weight: 600;
//             border-radius: 5px;
//             margin-left: auto;

//         }
//     }

//     &-btn {
//         &-left {
//             display: flex;
//             align-items: center;
//         }

//         &-relative {
//             position: absolute;
//             width: 50px;
//             height: 40px;
//             background: #616161;
//             /* height: 100%; */
//             display: flex;
//             align-items: center;
//             justify-content: center;
//             border-radius: 5px;
//             color: white;

//             ion-icon {
//                 font-size: 18px;
//             }

//             div {
//                 border-radius: 100vw;
//                 position: absolute;
//                 top: -4px;
//                 right: -7px;
//                 width: 20px;
//                 height: 20px;
//                 background: var(--background-color);
//                 display: flex;
//                 align-items: center;
//                 justify-content: center;
//                 border: 1px solid white;
//                 font-size: 10px;
//             }
//         }
//     }


//     &-bold {
//         font-weight: 500;
//     }

//     &-right {
//         text-align: right;
//     }


//     &-select {
//         display: flex;
//         align-items: center;

//         &-form {
//             position: relative;

//             div {

//                 width: 105px;
//                 border: 1px solid white;
//                 text-align: center;
//                 background: #caeeff;
//                 border-radius: 5px;
//                 padding: 6px 0;
//             }

//             ion-icon {
//                 position: absolute;
//                 top: 8px;
//                 right: 2px;
//                 color: gray;
//                 font-size: 13px;
//             }
//         }


//     }

// }

// table {
//     width: 100%;
//     table-layout: fixed;
// }

// td {
//     padding-bottom: 10px;

//     span {
//         color: gray;
//     }

//     i {
//         font-size: 18px;
//     }
// }

// .pr-20 {
//     padding-right: 20px;
// }

// .pr-44 {
//     padding-right: 44px !important;
// }

// .pr-15 {
//     padding-right: 15px !important;
// }

// .pb-0 {
//     padding-bottom: 0 !important;
// }

// input[type="text"],
// input[type="number"],
// input[type="date"] {
//     width: 105px;
//     border: 1px solid white;
//     text-align: center;
//     background: #caeeff;
//     border-radius: 5px;
//     padding: 6px 0;
// }

// .input-no-border{
//     background: white !important;
//     text-align: right !important;

// }

// ion-toggle {
//     height: 26px;
//     --handle-width: calc(28px - (2px * 2));
//     --ion-color-base: var(--primary-color) !important;
// }

// ion-footer {
//     box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
// }

// p{
//     margin-top: 0 !important;
//     margin-bottom: 0 !important;
//   }