<ion-header>
  <ion-toolbar>
    <div>

      <div>
        <div style="display: flex; align-items: center; padding: 10px 20px; color: white;">

          <div>
            <div style="font-size: 20px; font-weight: 600;">Nhà thuốc Vũ Hải</div>
            <div>Phạm Văn Dũng</div>
          </div>
          <!-- <img style="width: 120px;     margin-left: auto;" src="../../assets/images/a2.png" alt=""> -->
        </div>
      </div>
    </div>

  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <div style="position: relative;   background: #0764ae; height: 42px;">
      <div style="display: flex; align-items: center;  position: absolute; bottom: -35px; width: 100%;">
        <div style="width: 50%;
  background: white;
  margin: 6px;
  padding: 10px;     text-align: center; border-radius: 10px;     box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;">
          <!-- <div style="display: flex; align-items: center;">
            <ion-icon name="document-text-outline"></ion-icon>

            <div> -->
              <div style="color: #0764ae;">Hóa đơn</div>
              <div style="font-size: 20px; font-weight: bold;">9</div>
            <!-- </div>
          </div> -->


        </div>
        <div style="width: 50%;
  background: white;
  margin: 6px;
  padding: 10px;     text-align: center; border-radius: 10px; box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;">

<div style="color: #0764ae;">Doanh thu</div>
<div style="font-size: 20px; font-weight: bold;">900,000</div>
        </div>
      </div>
    </div>


  </div>
  <!-- <div style="padding: 15px; padding-bottom:0px!important; padding-top: 20px!important; background-color: #0764ae;">
    <div
      style="background-color: #fff; padding: 10px; font-weight: bold; border-top-left-radius: 10px; border-top-right-radius: 10px;">
      <div>
        Hóa đơn, doanh thu
      </div>
      <div
        style="font-weight: normal!important; font-size: 14px; font-style: italic; color: #969ca1; padding-top: 5px;">
        Hóa đơn bán hàng và doanh thu trong ngày
      </div>
    </div>
  </div> -->
  <div class="test" style="padding: 10px;     margin-top: 35px;">

    <div class="row">
      <div class="col-4">
        <div class="test-item">
          <div class="test-item-card">
            <ion-icon name="document-text-outline"></ion-icon>
          </div>
        </div>
        <div class="test-item-title">
          Đơn hàng
        </div>
      </div>
      <div class="col-4">
        <div class="test-item">
          <div class="test-item-card">
            <ion-icon name="cloud-upload-outline"></ion-icon>
          </div>
        </div>
        <div class="test-item-title">
          Nhập hàng
        </div>
      </div>
      <div class="col-4">
        <div class="test-item">
          <div class="test-item-card">
            <ion-icon name="cloud-download-outline"></ion-icon>
          </div>
        </div>
        <div class="test-item-title">
          Bán lẻ
        </div>
      </div>
      <div class="col-3">
        <div class="test-item">
          <div class="test-item-card">
            <ion-icon name="flask-outline"></ion-icon>
          </div>
        </div>
        <div class="test-item-title">
          Vật tư
        </div>
      </div>
      <div class="col-3">
        <div class="test-item">
          <div class="test-item-card">
            <ion-icon name="podium-outline"></ion-icon>
          </div>
        </div>
        <div class="test-item-title">
          Tồn kho
        </div>
      </div>
      <div class="col-3">
        <div class="test-item">
          <div class="test-item-card">
            <ion-icon name="time-outline"></ion-icon>
          </div>
        </div>
        <div class="test-item-title">
          Sắp hết hạn
        </div>
      </div>
      <div class="col-3">
        <div class="test-item">
          <div class="test-item-card">
            <ion-icon name="aperture-outline"></ion-icon>
          </div>
        </div>
        <div class="test-item-title">
          Liên thông
        </div>
      </div>

    </div>
  </div>


  <p style="font-size: 16px; font-weight: 500;">Doanh thu bán hàng theo tháng</p>
  <canvas #barChart class="home-chart" style="display: block;
  height: 240px;
  width: 100%;     padding-right: 6px;"></canvas>
</ion-content>