<ion-header>
  <ion-toolbar>

    <ion-buttons (click)="closeModal()" slot="start">
      <ion-item lines="none"
        style="--padding-start: 10px!important; --padding-end:0px!important;--padding-top:0px!important;--border-width:0px!important;">
        <ion-icon name="chevron-back-outline" style="font-size: 25px;"></ion-icon>
      </ion-item>
    </ion-buttons>

    <ion-title style="font-weight: 600; text-align: center;">
      Hãng sản xuất
    </ion-title>
    <ion-buttons slot="end">
      <ion-item lines="none"
        style=" --padding-start: 10px!important; --padding-end:0px!important;--padding-top:0px!important;--border-width:0px!important;">
        <!-- <ion-icon name="add-outline" style="font-size: 26px;"></ion-icon> -->
      </ion-item>

    </ion-buttons>
  </ion-toolbar>
  <div class="product-header">
    <div class="product-search">
      <input (keyup)="onSearch($event)" [(ngModel)]="keyword" type="text"
        placeholder="Tìm kiếm tên vật tư ..." style="text-align: left; background: white;">
      <ion-icon class="search-icon" *ngIf="keyword == ''" name="search-outline"></ion-icon>
      <ion-icon (click)="deleteSearch()" *ngIf="keyword != ''" class="search-icon2"
        name="close-circle-outline"></ion-icon>
    </div>
  </div>
</ion-header>


<ion-content>
 

  <div class="product">
    <div (click)="handleItem(item)" *ngFor="let item of listData; index as i" class="product-item border-b" [class]="item.checkHover == true ? 'bg-hover' : ''">

      <div class="product-content">
        <div class="product-content-item">
          <div class="product-content-left product-content-title">
            {{item}}
          </div>
          <!-- <div class="product-content-right">
            <button ><ion-icon name="ellipsis-horizontal-outline"></ion-icon></button>

          </div> -->
        </div>
     
      </div>
    </div>


  </div>

  <!-- <ion-infinite-scroll *ngIf="!pageInfo.keyword" (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Đang tải dữ liệu...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll> -->
</ion-content>
