<!-- <ion-header>
  <ion-toolbar>
    <ion-title>donvi-create</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <div class="unit">
    <div class="unit-header">
      <div class="unit-title">{{isCreate == 'true' ? 'Thêm' : 'Sửa'}} kho</div>
      <ion-icon (click)="closeModal()" name="close-outline"></ion-icon>
    </div>
    <table class="w-full">
      <tr>
        <td colspan="2">
          <div class="unit-item">
            <label for="">Tên kho <span class="text-err">*</span></label>
            <input type="text" [(ngModel)]="sendItem.TenKho">
          </div>
        </td>
      </tr>
      <tr>
        <td *ngIf="submit && !sendItem.TenKho" colspan="2" style="padding-top: 10px;">
          <div class="text-err">
            Trường bắt buộc nhập
          </div>
        </td>
      </tr>
 
      <tr>
        <td  colspan="2">
            <div class="unit-item">
              <label for="">Địa chỉ</label>
              <input type="text" [(ngModel)]="sendItem.DiaChi">
            </div>
        </td>
      </tr>
    </table>

  </div> 
</ion-content>
<ion-footer>
  <ion-toolbar>

  <div class="unit-footer">
    <button (click)="confirmSubmit()">{{isCreate == 'true' ? 'THÊM' : 'SỬA'}} KHO </button>
  </div>
</ion-toolbar>

</ion-footer>